---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Summary | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

## Signature

{{ .FunctionSignatureMarkdown }}

## Arguments

{{ .FunctionArgumentsMarkdown }}
{{ if .HasVariadic -}}
{{ .FunctionVariadicArgumentMarkdown }}
{{- end }}

## Return Type

The `object` returned from `duration_parse` has the following attributes:
- `hours` (Number) The duration as a floating point number of hours.
- `minutes` (Number) The duration as a floating point number of minutes.
- `seconds` (Number) The duration as a floating point number of seconds.
- `milliseconds` (Number) The duration as an integer number of milliseconds.
- `microseconds` (Number) The duration as an integer number of microseconds.
- `nanoseconds` (Number) The duration as an integer number of nanoseconds.
