---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

-> Further manipulation of incoming or outgoing values can be accomplished with the [`formatdate()` function](https://www.terraform.io/docs/configuration/functions/formatdate.html) and the [`timeadd()` function](https://www.terraform.io/docs/configuration/functions/timeadd.html).

## Example Usage

### Basic Usage

{{ tffile "examples/resources/time_offset/resource.tf" }}

### Triggers Usage

{{ tffile "examples/resources/time_offset/resource_triggers.tf" }}

{{ .SchemaMarkdown | trimspace }}
~> **NOTE:** At least one of the `offset_` arguments must be configured.

## Import

This resource can be imported using the base UTC RFC3339 timestamp and offset years, months, days, hours, minutes, and seconds, separated by commas (`,`), e.g.

```console
$ terraform import time_offset.example 2020-02-12T06:36:13Z,0,0,7,0,0,0
```

The `triggers` argument cannot be imported.
