---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

-> Further manipulation of incoming or outgoing values can be accomplished with the [`formatdate()` function](https://www.terraform.io/docs/configuration/functions/formatdate.html) and the [`timeadd()` function](https://www.terraform.io/docs/configuration/functions/timeadd.html).

## Example Usage

### Basic Usage

{{ tffile "examples/resources/time_static/resource.tf" }}

### Triggers Usage

{{ tffile "examples/resources/time_static/resource_triggers.tf" }}

{{ .SchemaMarkdown | trimspace }}


## Import

This resource can be imported using the UTC RFC3339 value, e.g.

```console
$ terraform import time_static.example 2020-02-12T06:36:13Z
```

The `triggers` argument cannot be imported.